1. Importing Everything Required

In [31]:
import pandas as pd
import pandas_profiling as pp
import math
import numpy as np
from sklearn import preprocessing  
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import f1_score
label_encoder = preprocessing.LabelEncoder()
!pip install lightgbm
import lightgbm as lgb

Requirement already satisfied: lightgbm in c:\users\palla\appdata\roaming\python\python37\site-packages (2.3.1)
Requirement already satisfied: scikit-learn in c:\users\palla\anaconda3\lib\site-packages (from lightgbm) (0.20.1)
Requirement already satisfied: scipy in c:\users\palla\anaconda3\lib\site-packages (from lightgbm) (1.1.0)
Requirement already satisfied: numpy in c:\users\palla\anaconda3\lib\site-packages (from lightgbm) (1.15.4)

EDA AND PREPROCESSING
1. The train and test files are read
2. In the train dataframe, the value counts indicate that y = 'yes' is only about 11%
3. Neither of the two dataframes have NaN values
4. The two dataframes are concatenated and cleaned using label encoding. In the 'y' column, 'yes' = 2, 'no' = 1. In the train dataframe, 'y' = -1 is added, which later becomes 0 after label encoding.
5. pandas profiling is done on the main dataframe.

In [32]:
train_path = 'A:/MEEEEE/My Work/DSC/train.csv'
dirtytrain = pd.read_csv(train_path)
dirtytrain['type'] = 'train'
a = dirtytrain.y.value_counts()[1]
b = dirtytrain.y.value_counts()[0]
#for col in dirtytrain.columns[0: ]:
    #if dirtytrain[col].dtypes == 'O':
        #dirtytrain[col]= label_encoder.fit_transform(dirtytrain[col]) 
dirtytrain

,id,age,job,marital,education,default,housing,loan,contact,month,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,type
0,0,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
1,1,57,services,married,high.school,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
2,2,37,services,married,high.school,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
3,4,56,services,married,high.school,no,no,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
4,5,45,services,married,basic.9y,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
5,7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
6,8,24,technician,single,professional.course,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
7,9,25,services,single,high.school,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
8,12,29,blue-collar,single,high.school,no,no,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
9,14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
10,15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
11,17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
12,18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
13,19,39,management,single,basic.9y,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
14,22,55,retired,single,high.school,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
15,23,41,technician,single,high.school,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
16,25,35,technician,married,university.degree,no,no,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
17,26,59,technician,married,unknown,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
18,27,39,self-employed,married,basic.9y,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
19,30,46,admin.,married,unknown,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
20,31,59,technician,married,unknown,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
21,32,49,blue-collar,married,unknown,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
22,33,54,management,married,basic.4y,unknown,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
23,34,54,blue-collar,divorced,basic.4y,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
24,35,55,unknown,married,basic.4y,unknown,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
25,36,34,services,married,high.school,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
26,37,52,technician,married,basic.9y,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
27,38,41,admin.,married,university.degree,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
28,39,56,technician,married,basic.4y,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
29,40,58,management,unknown,university.degree,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32948,41152,26,management,single,university.degree,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,no,train
32949,41153,67,housemaid,divorced,professional.course,no,yes,no,cellular,nov,...,5,5,success,-1.1,94.767,-50.8,1.039,4963.6,yes,train
32950,41154,41,technician,married,professional.course,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,no,train
32951,41155,31,housemaid,single,university.degree,no,no,no,telephone,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,no,train
32952,41156,41,technician,married,professional.course,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,yes,train
32953,41157,31,housemaid,single,university.degree,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,no,train
32954,41158,35,technician,divorced,basic.4y,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4963.6,yes,train
32955,41159,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,...,9,4,success,-1.1,94.767,-50.8,1.035,4963.6,yes,train
32956,41160,33,admin.,married,university.degree,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.035,4963.6,yes,train
32957,41162,60,blue-collar,married,basic.4y,no,yes,no,cellular,nov,...,4,1,success,-1.1,94.767,-50.8,1.035,4963.6,no,train
32958,41163,35,technician,divorced,basic.4y,no,yes,no,cellular,nov,...,4,2,success,-1.1,94.767,-50.8,1.035,4963.6,yes,train
32959,41164,54,admin.,married,professional.course,no,no,no,cellular,nov,...,10,1,success,-1.1,94.767,-50.8,1.035,4963.6,yes,train
32960,41165,38,housemaid,divorced,university.degree,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,yes,train
32961,41166,32,admin.,married,university.degree,no,no,no,telephone,nov,...,999,1,failure,-1.1,94.767,-50.8,1.030,4963.6,yes,train
32962,41167,32,admin.,married,university.degree,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no,train
32963,41168,38,entrepreneur,married,university.degree,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no,train
32964,41169,62,services,married,high.school,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.030,4963.6,no,train
32965,41170,40,management,divorced,university.degree,no,yes,no,cellular,nov,...,999,4,failure,-1.1,94.767,-50.8,1.030,4963.6,no,train
32966,41171,33,student,married,professional.course,no,yes,no,telephone,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,yes,train
32967,41173,62,retired,married,university.degree,no,yes,no,cellular,nov,...,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,yes,train
32968,41175,34,student,single,unknown,no,yes,no,cellular,nov,...,999,2,failure,-1.1,94.767,-50.8,1.031,4963.6,no,train
32969,41176,38,housemaid,divorced,high.school,no,yes,yes,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,no,train
32970,41178,62,retired,married,university.degree,no,no,no,cellular,nov,...,6,3,success,-1.1,94.767,-50.8,1.031,4963.6,yes,train
32971,41179,64,retired,divorced,professional.course,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no,train
32972,41180,36,admin.,married,university.degree,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no,train
32973,41182,29,unemployed,single,basic.4y,no,yes,no,cellular,nov,...,9,1,success,-1.1,94.767,-50.8,1.028,4963.6,no,train
32974,41183,73,retired,married,professional.course,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes,train
32975,41185,56,retired,married,university.degree,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no,train
32976,41186,44,technician,married,professional.course,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes,train
32977,41187,74,retired,married,professional.course,no,yes,no,cellular,nov,...,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no,train

In [33]:
dirtytrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32978 entries, 0 to 32977
Data columns (total 23 columns):
id                32978 non-null int64
age               32978 non-null int64
job               32978 non-null object
marital           32978 non-null object
education         32978 non-null object
default           32978 non-null object
housing           32978 non-null object
loan              32978 non-null object
contact           32978 non-null object
month             32978 non-null object
day_of_week       32978 non-null object
duration          32978 non-null int64
campaign          32978 non-null int64
pdays             32978 non-null int64
previous          32978 non-null int64
poutcome          32978 non-null object
emp.var.rate      32978 non-null float64
cons.price.idx    32978 non-null float64
cons.conf.idx     32978 non-null float64
euribor3m         32978 non-null float64
nr.employed       32978 non-null float64
y                 32978 non-null object
type              32978 non-null object
dtypes: float64(5), int64(6), object(12)
memory usage: 5.8+ MB

In [34]:
test_path = 'A:/MEEEEE/My Work/DSC/test.csv'
dirtytest = pd.read_csv(test_path)
dirtytest['type'] = 'test'
dirtytest['y'] = '-1'
dirtytest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8210 entries, 0 to 8209
Data columns (total 23 columns):
id                8210 non-null int64
age               8210 non-null int64
job               8210 non-null object
marital           8210 non-null object
education         8210 non-null object
default           8210 non-null object
housing           8210 non-null object
loan              8210 non-null object
contact           8210 non-null object
month             8210 non-null object
day_of_week       8210 non-null object
duration          8210 non-null int64
campaign          8210 non-null int64
pdays             8210 non-null int64
previous          8210 non-null int64
poutcome          8210 non-null object
emp.var.rate      8210 non-null float64
cons.price.idx    8210 non-null float64
cons.conf.idx     8210 non-null float64
euribor3m         8210 non-null float64
nr.employed       8210 non-null float64
type              8210 non-null object
y                 8210 non-null object
dtypes: float64(5), int64(6), object(12)
memory usage: 1.4+ MB

In [35]:
a = set(dirtytrain.columns.tolist()) - set(dirtytest.columns.tolist())
a

set()

In [36]:
df_main = pd.concat([dirtytrain, dirtytest], axis= 0, sort = False)
df_main
#df_main = df_main.set_index(df_main.columns[0])

,id,age,job,marital,education,default,housing,loan,contact,month,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,type
0,0,56,housemaid,married,basic.4y,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
1,1,57,services,married,high.school,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
2,2,37,services,married,high.school,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
3,4,56,services,married,high.school,no,no,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
4,5,45,services,married,basic.9y,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
5,7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
6,8,24,technician,single,professional.course,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
7,9,25,services,single,high.school,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
8,12,29,blue-collar,single,high.school,no,no,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
9,14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
10,15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
11,17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
12,18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
13,19,39,management,single,basic.9y,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
14,22,55,retired,single,high.school,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
15,23,41,technician,single,high.school,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
16,25,35,technician,married,university.degree,no,no,yes,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
17,26,59,technician,married,unknown,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
18,27,39,self-employed,married,basic.9y,unknown,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
19,30,46,admin.,married,unknown,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
20,31,59,technician,married,unknown,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
21,32,49,blue-collar,married,unknown,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
22,33,54,management,married,basic.4y,unknown,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
23,34,54,blue-collar,divorced,basic.4y,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
24,35,55,unknown,married,basic.4y,unknown,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
25,36,34,services,married,high.school,no,no,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
26,37,52,technician,married,basic.9y,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
27,38,41,admin.,married,university.degree,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
28,39,56,technician,married,basic.4y,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
29,40,58,management,unknown,university.degree,no,yes,no,telephone,may,...,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8180,41044,62,admin.,married,high.school,no,no,no,cellular,oct,...,4,3,success,-1.1,94.601,-49.5,1.037,4963.6,-1,test
8181,41049,21,student,single,high.school,no,no,no,cellular,oct,...,999,0,nonexistent,-1.1,94.601,-49.5,1.037,4963.6,-1,test
8182,41050,30,management,married,university.degree,no,no,no,cellular,oct,...,999,0,nonexistent,-1.1,94.601,-49.5,1.043,4963.6,-1,test
8183,41071,61,retired,married,university.degree,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.050,4963.6,-1,test
8184,41075,34,admin.,married,university.degree,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.050,4963.6,-1,test
8185,41080,27,student,single,high.school,no,no,yes,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.049,4963.6,-1,test
8186,41083,24,technician,single,university.degree,no,yes,yes,cellular,nov,...,6,3,failure,-1.1,94.767,-50.8,1.049,4963.6,-1,test
8187,41084,18,student,single,unknown,no,yes,no,cellular,nov,...,999,3,failure,-1.1,94.767,-50.8,1.049,4963.6,-1,test
8188,41086,50,blue-collar,divorced,professional.course,no,yes,no,cellular,nov,...,9,3,success,-1.1,94.767,-50.8,1.049,4963.6,-1,test
8189,41090,31,admin.,single,university.degree,no,no,yes,cellular,nov,...,3,6,success,-1.1,94.767,-50.8,1.048,4963.6,-1,test
8190,41091,31,admin.,single,university.degree,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.048,4963.6,-1,test
8191,41096,28,services,married,high.school,no,yes,no,cellular,nov,...,999,2,failure,-1.1,94.767,-50.8,1.048,4963.6,-1,test
8192,41099,59,admin.,divorced,high.school,no,no,no,cellular,nov,...,3,2,success,-1.1,94.767,-50.8,1.050,4963.6,-1,test
8193,41101,63,retired,married,basic.4y,no,yes,no,cellular,nov,...,3,2,success,-1.1,94.767,-50.8,1.049,4963.6,-1,test
8194,41105,32,admin.,single,high.school,no,no,no,cellular,nov,...,19,2,failure,-1.1,94.767,-50.8,1.048,4963.6,-1,test
8195,41108,64,unknown,married,unknown,no,no,no,cellular,nov,...,3,3,success,-1.1,94.767,-50.8,1.048,4963.6,-1,test
8196,41127,61,admin.,married,high.school,no,yes,yes,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.044,4963.6,-1,test
8197,41128,31,admin.,single,high.school,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.044,4963.6,-1,test
8198,41129,61,admin.,married,high.school,no,no,no,telephone,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.044,4963.6,-1,test
8199,41132,41,unemployed,married,basic.9y,no,no,no,cellular,nov,...,3,2,success,-1.1,94.767,-50.8,1.041,4963.6,-1,test
8200,41135,54,technician,married,unknown,no,yes,no,cellular,nov,...,999,1,failure,-1.1,94.767,-50.8,1.041,4963.6,-1,test
8201,41142,43,admin.,divorced,university.degree,no,yes,no,cellular,nov,...,999,2,failure,-1.1,94.767,-50.8,1.040,4963.6,-1,test
8202,41144,35,admin.,single,professional.course,no,yes,no,cellular,nov,...,999,4,failure,-1.1,94.767,-50.8,1.040,4963.6,-1,test
8203,41149,30,admin.,single,university.degree,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.039,4963.6,-1,test
8204,41161,33,admin.,married,university.degree,no,yes,no,cellular,nov,...,999,1,failure,-1.1,94.767,-50.8,1.035,4963.6,-1,test
8205,41172,31,admin.,single,university.degree,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,-1,test
8206,41174,62,retired,married,university.degree,no,yes,no,cellular,nov,...,1,6,success,-1.1,94.767,-50.8,1.031,4963.6,-1,test
8207,41177,57,retired,married,professional.course,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.031,4963.6,-1,test
8208,41181,37,admin.,married,university.degree,no,yes,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,-1,test
8209,41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,...,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,-1,test

In [37]:
for col in df_main.columns[0: ]:
    if df_main[col].dtypes == 'O':
        df_main[col]= label_encoder.fit_transform(df_main[col]) 
df_main

,id,age,job,marital,education,default,housing,loan,contact,month,...,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,type
0,0,56,3,1,0,0,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
1,1,57,7,1,3,1,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
2,2,37,7,1,3,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
3,4,56,7,1,3,0,0,2,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
4,5,45,7,1,2,1,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
5,7,41,1,1,7,1,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
6,8,24,9,2,5,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
7,9,25,7,2,3,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
8,12,29,1,2,3,0,0,2,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
9,14,35,1,1,1,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
10,15,54,5,1,2,1,2,2,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
11,17,46,1,1,1,1,2,2,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
12,18,50,1,1,2,0,2,2,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
13,19,39,4,2,2,1,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
14,22,55,5,2,3,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
15,23,41,9,2,3,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
16,25,35,9,1,6,0,0,2,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
17,26,59,9,1,7,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
18,27,39,6,1,2,1,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
19,30,46,0,1,7,0,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
20,31,59,9,1,7,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
21,32,49,1,1,7,0,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
22,33,54,4,1,0,1,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
23,34,54,1,0,0,0,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
24,35,55,11,1,0,1,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
25,36,34,7,1,3,0,0,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
26,37,52,9,1,2,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
27,38,41,0,1,6,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
28,39,56,9,1,0,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
29,40,58,4,3,6,0,2,0,1,6,...,999,0,1,1.1,93.994,-36.4,4.857,5191.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8180,41044,62,0,1,3,0,0,0,0,8,...,4,3,2,-1.1,94.601,-49.5,1.037,4963.6,0,0
8181,41049,21,8,2,3,0,0,0,0,8,...,999,0,1,-1.1,94.601,-49.5,1.037,4963.6,0,0
8182,41050,30,4,1,6,0,0,0,0,8,...,999,0,1,-1.1,94.601,-49.5,1.043,4963.6,0,0
8183,41071,61,5,1,6,0,0,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.050,4963.6,0,0
8184,41075,34,0,1,6,0,0,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.050,4963.6,0,0
8185,41080,27,8,2,3,0,0,2,0,7,...,999,0,1,-1.1,94.767,-50.8,1.049,4963.6,0,0
8186,41083,24,9,2,6,0,2,2,0,7,...,6,3,0,-1.1,94.767,-50.8,1.049,4963.6,0,0
8187,41084,18,8,2,7,0,2,0,0,7,...,999,3,0,-1.1,94.767,-50.8,1.049,4963.6,0,0
8188,41086,50,1,0,5,0,2,0,0,7,...,9,3,2,-1.1,94.767,-50.8,1.049,4963.6,0,0
8189,41090,31,0,2,6,0,0,2,0,7,...,3,6,2,-1.1,94.767,-50.8,1.048,4963.6,0,0
8190,41091,31,0,2,6,0,2,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.048,4963.6,0,0
8191,41096,28,7,1,3,0,2,0,0,7,...,999,2,0,-1.1,94.767,-50.8,1.048,4963.6,0,0
8192,41099,59,0,0,3,0,0,0,0,7,...,3,2,2,-1.1,94.767,-50.8,1.050,4963.6,0,0
8193,41101,63,5,1,0,0,2,0,0,7,...,3,2,2,-1.1,94.767,-50.8,1.049,4963.6,0,0
8194,41105,32,0,2,3,0,0,0,0,7,...,19,2,0,-1.1,94.767,-50.8,1.048,4963.6,0,0
8195,41108,64,11,1,7,0,0,0,0,7,...,3,3,2,-1.1,94.767,-50.8,1.048,4963.6,0,0
8196,41127,61,0,1,3,0,2,2,0,7,...,999,0,1,-1.1,94.767,-50.8,1.044,4963.6,0,0
8197,41128,31,0,2,3,0,2,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.044,4963.6,0,0
8198,41129,61,0,1,3,0,0,0,1,7,...,999,0,1,-1.1,94.767,-50.8,1.044,4963.6,0,0
8199,41132,41,10,1,2,0,0,0,0,7,...,3,2,2,-1.1,94.767,-50.8,1.041,4963.6,0,0
8200,41135,54,9,1,7,0,2,0,0,7,...,999,1,0,-1.1,94.767,-50.8,1.041,4963.6,0,0
8201,41142,43,0,0,6,0,2,0,0,7,...,999,2,0,-1.1,94.767,-50.8,1.040,4963.6,0,0
8202,41144,35,0,2,5,0,2,0,0,7,...,999,4,0,-1.1,94.767,-50.8,1.040,4963.6,0,0
8203,41149,30,0,2,6,0,2,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.039,4963.6,0,0
8204,41161,33,0,1,6,0,2,0,0,7,...,999,1,0,-1.1,94.767,-50.8,1.035,4963.6,0,0
8205,41172,31,0,2,6,0,2,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.031,4963.6,0,0
8206,41174,62,5,1,6,0,2,0,0,7,...,1,6,2,-1.1,94.767,-50.8,1.031,4963.6,0,0
8207,41177,57,5,1,5,0,2,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.031,4963.6,0,0
8208,41181,37,0,1,6,0,2,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0,0
8209,41184,46,1,1,5,0,0,0,0,7,...,999,0,1,-1.1,94.767,-50.8,1.028,4963.6,0,0

In [ ]:
#profile = df_main.profile_report(title='Pandas Profiling Report')
#profile.to_file(output_file="output.html")

In [39]:
cols_y = ['y']
cols_exclude = ['id','type','month','day_of_week']
cols_total = df_main.columns.tolist()
cols_X = list(set(cols_total) - set(cols_y) - set(cols_exclude))

In [40]:
test = df_main[df_main['type'] == 0]
train = df_main[df_main['type'] == 1]
train['y'] = train['y']-1
X_train, X_val, y_train, y_val = train_test_split(train[cols_X],train[cols_y], test_size=0.20, stratify = train[cols_y])
X_train

,contact,default,loan,previous,cons.conf.idx,pdays,euribor3m,age,education,marital,job,emp.var.rate,housing,duration,cons.price.idx,campaign,nr.employed,poutcome
16943,0,0,0,0,-36.1,999,4.963,35,5,1,9,1.4,0,80,93.444,1,5228.1,1
21893,0,0,0,0,-42.0,999,4.021,36,1,1,0,-0.1,2,72,93.200,1,5195.8,1
29230,0,0,0,0,-40.8,999,1.260,61,6,1,0,-2.9,2,151,92.963,1,5076.2,1
20869,0,0,0,0,-42.0,999,4.120,33,3,1,7,-0.1,2,307,93.200,3,5195.8,1
8244,1,0,0,0,-41.8,999,4.960,57,2,1,9,1.4,2,215,94.465,3,5228.1,1
11957,0,1,0,0,-42.7,999,4.958,37,2,1,1,1.4,2,117,93.918,1,5228.1,1
16289,0,1,2,0,-36.1,999,4.966,31,5,2,3,1.4,2,213,93.444,1,5228.1,1
32745,0,0,0,2,-49.5,999,0.972,32,6,2,7,-1.1,2,375,94.601,2,4963.6,0
23280,0,0,0,0,-47.1,999,1.405,38,2,1,1,-1.8,0,9,93.075,1,5099.1,1
24270,0,0,2,0,-47.1,999,1.365,31,6,2,0,-1.8,2,102,93.075,1,5099.1,1
9934,0,0,0,0,-42.7,999,4.960,31,3,0,3,1.4,2,127,93.918,4,5228.1,1
32648,0,0,0,1,-37.5,6,0.879,32,2,1,9,-1.1,2,155,94.199,1,4963.6,2
17965,0,1,0,0,-36.1,999,4.964,51,0,1,1,1.4,0,80,93.444,1,5228.1,1
1155,1,0,2,0,-36.4,999,4.855,41,2,1,1,1.1,0,261,93.994,5,5191.0,1
30181,0,0,0,1,-31.4,3,0.851,34,6,2,0,-2.9,2,377,92.201,6,5076.2,2
32369,1,0,0,3,-38.3,999,0.904,26,3,2,7,-1.7,0,6,94.027,1,4991.6,0
22668,0,0,0,0,-47.1,999,1.445,35,5,0,9,-1.8,2,612,93.075,1,5099.1,1
2157,1,1,0,0,-36.4,999,4.859,45,5,1,9,1.1,0,69,93.994,1,5191.0,1
31837,0,0,1,0,-40.0,999,0.699,30,6,2,0,-1.8,1,466,93.876,3,5008.7,1
4811,1,0,0,0,-36.4,999,4.857,26,5,2,9,1.1,0,126,93.994,1,5191.0,1
27493,0,0,0,1,-46.2,999,1.266,40,2,1,1,-1.8,2,317,92.893,1,5099.1,0
26111,0,0,0,0,-46.2,999,1.299,42,0,1,1,-1.8,0,139,92.893,1,5099.1,1
13516,0,0,0,0,-42.7,999,4.962,41,3,2,2,1.4,2,90,93.918,3,5228.1,1
32851,0,0,0,1,-49.5,6,1.029,37,5,2,10,-1.1,0,142,94.601,4,4963.6,2
9241,1,1,0,0,-41.8,999,4.959,35,1,2,1,1.4,2,55,94.465,4,5228.1,1
14321,0,0,0,0,-42.7,999,4.961,56,1,1,5,1.4,2,509,93.918,1,5228.1,1
23883,0,0,2,0,-47.1,999,1.405,25,6,2,0,-1.8,0,120,93.075,1,5099.1,1
2619,1,0,0,0,-36.4,999,4.860,49,2,1,6,1.1,2,74,93.994,2,5191.0,1
85,1,0,0,0,-36.4,999,4.857,37,6,1,4,1.1,0,337,93.994,2,5191.0,1
4029,1,0,0,0,-36.4,999,4.857,35,3,1,7,1.1,0,1349,93.994,5,5191.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30675,0,0,0,0,-26.9,999,0.739,83,2,1,5,-3.4,0,138,92.431,2,5017.5,1
17258,0,1,0,0,-36.1,999,4.963,33,6,1,9,1.4,2,153,93.444,1,5228.1,1
22710,0,1,0,0,-47.1,999,1.435,59,0,1,1,-1.8,2,125,93.075,6,5099.1,1
12349,0,1,2,0,-42.7,999,4.957,49,1,0,7,1.4,2,112,93.918,3,5228.1,1
26205,0,0,0,0,-46.2,999,1.299,29,2,2,9,-1.8,2,214,92.893,1,5099.1,1
29770,0,0,0,1,-31.4,999,0.883,31,5,0,9,-2.9,2,310,92.201,2,5076.2,0
29542,0,0,0,1,-40.8,999,1.215,39,6,1,0,-2.9,0,459,92.963,1,5076.2,0
9354,1,1,0,0,-41.8,999,4.959,48,3,1,10,1.4,2,157,94.465,3,5228.1,1
28688,0,0,0,1,-46.2,3,1.259,45,6,2,0,-1.8,0,582,92.893,1,5099.1,2
12013,0,1,0,0,-42.7,999,4.958,49,2,1,6,1.4,2,82,93.918,1,5228.1,1
5747,1,0,2,0,-36.4,999,4.860,59,6,1,0,1.1,2,29,93.994,9,5191.0,1
28705,0,0,2,3,-46.2,3,1.259,83,2,1,5,-1.8,2,74,92.893,1,5099.1,0
18726,0,0,0,0,-36.1,999,4.964,32,6,1,10,1.4,2,97,93.444,4,5228.1,1
2543,1,0,2,0,-36.4,999,4.860,41,2,1,7,1.1,2,75,93.994,1,5191.0,1
31879,0,0,0,0,-39.8,999,0.713,47,2,1,1,-1.7,0,544,94.055,1,4991.6,1
25784,0,0,0,1,-46.2,999,1.313,31,6,1,6,-1.8,0,704,92.893,1,5099.1,0
28370,0,0,0,0,-46.2,999,1.244,22,7,2,9,-1.8,2,106,92.893,5,5099.1,1
16084,0,0,2,0,-36.1,999,4.965,30,6,2,0,1.4,0,309,93.444,1,5228.1,1
21660,1,0,0,0,-42.0,999,4.021,42,6,1,9,-0.1,2,81,93.200,7,5195.8,1
15607,0,0,0,0,-36.1,999,4.968,35,6,2,9,1.4,0,92,93.444,2,5228.1,1
29547,0,0,0,0,-40.8,999,1.206,30,7,2,8,-2.9,0,205,92.963,3,5076.2,1
2634,1,0,0,0,-36.4,999,4.860,35,6,2,0,1.1,0,135,93.994,1,5191.0,1
18256,0,0,0,0,-36.1,999,4.965,53,6,1,4,1.4,2,14,93.444,12,5228.1,1
20686,0,0,0,0,-42.0,999,4.120,34,0,0,11,-0.1,0,73,93.200,1,5195.8,1
23598,0,0,0,1,-47.1,999,1.405,35,6,1,9,-1.8,2,185,93.075,3,5099.1,0
29011,0,0,0,0,-40.8,999,1.266,52,6,2,0,-2.9,2,327,92.963,1,5076.2,1
18241,0,0,0,0,-36.1,999,4.965,48,2,1,7,1.4,2,104,93.444,2,5228.1,1
29804,1,0,0,0,-31.4,999,0.881,58,6,1,0,-2.9,0,121,92.201,2,5076.2,1
7155,1,0,0,0,-41.8,999,4.866,29,3,2,7,1.4,2,1018,94.465,3,5228.1,1
28943,0,0,0,1,-46.2,3,1.270,26,6,2,6,-1.8,0,119,92.893,1,5099.1,2

In [41]:
clf = RandomForestClassifier(max_depth=10, random_state=0)
clf.fit(X_train, y_train)
y_val_pred = clf.predict(X_val)

In [42]:
f1_score(y_val,y_val_pred)

0.5552238805970149

In [43]:
test['y'] = clf.predict(test[cols_X])
test['y'].replace((1, 0),('yes', 'no'), inplace=True)
test['y']

0        no
1        no
2        no
3        no
4        no
5        no
6        no
7        no
8        no
9        no
10       no
11       no
12       no
13       no
14       no
15       no
16       no
17       no
18       no
19       no
20       no
21       no
22       no
23       no
24       no
25       no
26       no
27       no
28       no
29       no
       ...
8180    yes
8181    yes
8182    yes
8183    yes
8184     no
8185     no
8186     no
8187     no
8188     no
8189    yes
8190    yes
8191     no
8192    yes
8193    yes
8194     no
8195     no
8196    yes
8197    yes
8198    yes
8199    yes
8200     no
8201    yes
8202     no
8203     no
8204    yes
8205    yes
8206    yes
8207     no
8208    yes
8209    yes
Name: y, Length: 8210, dtype: object

In [44]:
test[['id','y']].to_csv(index = False, path_or_buf = 'A:/MEEEEE/My Work/DSC/output3.csv')

In [45]:
train_data=lgb.Dataset(X_train,label=y_train)
param = {'num_leaves':1028, 'objective':'binary','max_depth':10,'learning_rate':.05,'max_bin':200}
param['metric'] = ['auc', 'binary_logloss']
num_round=50
lgbm=lgb.train(param,train_data,num_round)
y_val_pred_2=lgbm.predict(X_val)

In [46]:
f1_score(y_val,y_val_pred_2.round())

0.5571321882001493

In [ ]:
test2 = test
#test2['y'].replace(('yes', 'no'),(1, 0), inplace=True)
test2['y'] = lgbm.predict(test[cols_X])
test2['y'] = test2['y'].round()
test2['y'].replace((1.0, 0.0),('yes', 'no'), inplace=True)
test2

In [ ]:
test2[['id','y']].to_csv(index = False, path_or_buf = 'A:/MEEEEE/My Work/DSC/output7.csv')